<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>

		<server>
			<id>microstream-repo</id>
			<username>admin</username>
			<password>ajw1ET3EH8Ad4rKaesXi</password>
		</server>
		
	</servers>

	<profiles>

		<profile>
			<id>deploy</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<gpg.passphrase>W_Gs75u!q3$TJ#GW34+</gpg.passphrase>
			</properties>
		</profile>

	</profiles>

</settings>
